* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';

}
a{
    cursor: pointer;
    text-decoration: none;
}
header {
    width: 100%;
    min-height: 88px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 33331;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 99;
    padding: 20px 40px;
    background-color: #fff;
}

.logo-web-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo-host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-web-nav div {
    width: 100%;

}

.arg-nav {
    display: flex;
    margin-left: 23px;
    justify-content: start;
    align-items: center;
}

.arg-nav div {
    width: 32px;
    height: 20px;

}

.arg-nav img {
    max-width: 100%;
}

.arg-nav p {
    margin-left: 10px;
    margin-right: 14px;
    font-weight: 700;

}

.options-nav {
    font-weight: 100;
    height: 72;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

.word-nac {
    display: flex;
    position: relative;

}

.word-nac .kka {
    cursor: pointer;
}

.word-nac img {
    cursor: pointer;
}

.options-nav .a {
    padding: 6px;
    margin-right: 10px;

}

.options-nav div img {
    max-width: 24px;
    max-height: 24px;

}

.options-nav div a p {
    color: #1d1e20;
    font-weight: 500;

}

.options-nav div p {
    color: #1d1e20;
    font-weight: 500;

}

.options-nav div a {
    color: #1d1e20;
    font-weight: 500;
    text-decoration: none;

}

.toger-nav {
    display: none;
}

.ingresar {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.ingresar a {
    padding: 4px 7px;
}

.dropdow {
    width: 408px;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    position: absolute;
    top: 40px;
    right: -166px;
    border-radius: 5px;
    box-shadow: 2px 0 5px #010101b3;

}

.dropdow a:hover {
    transform: scale(2);
    background: mediumturquoise;
}

.punro {
    width: 24px;
    height: 40px;
    transform: rotate(45deg);
    background-color: rgba(3, 3, 3, 0.785);
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: -99;
}

.b {
    box-shadow: 2px 0 5px #010101b3;
    display: none;
}

.s {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transition: all 100ms;
}

.s:hover {
    transform: scale(1.03);
}

.dropdow div .alo {
    width: 60px;
    height: 44px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dro-1 .alo {
    background-image: url("/pages_temp/1_hosting/images/ic-wordpress.svg");

}

.dro-2 .alo {
    background-image: url("/pages_temp/1_hosting/images/ic-woocommerce.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ks {
    padding-left: 16px;
    margin-left: 20px;
}

.dro {
    transition: transform 0.5s ease;
}

/* midline */

.midline {

    padding-top: 130px;
    width: 100%;
    height: 730px;
}

.midsec {
    width: 80%;
    height: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;


}

.midsec1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: start;
}

.midsec1 .pa {
    font-size: 20px;
}

.midsec1 .pa span {
    font-weight: 700;
    color: #673de6;
}

.midsec1 h2 {
    font-size: 36px;
}

.midsec1 h2 span {
    font-weight: 700;
    color: #673de6;
}

.midsec1 ul {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2px;
    list-style: none;
}

.midline .k {
    font-size: 48px;
}
.midline .k .do{
    font-weight: 700;
    color: #2f1c6a;
}

.midsec1 .k .arss {
    font-size: 0.416667em;
}

.midsec1 .local p {
    font-size: 20px;
    line-height: 32px;
}

.midsec1 .hora{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 21px;
}
.midline .hora .h{
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;

}

.midsec1 .buton {
    cursor: pointer;
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
    justify-content: center;
}
.midsec1 a{
    cursor: pointer;
}

.midsec1 .buton button {
    cursor: pointer;
    width: 291px;
    height: 48px;
    font-size: 16px;
    background-color: #673de6;
    color:#fff;
    border: none;
    border-radius: 5px;

}
.midsec1 .buton button a {
    color: #fff;
}

.midsec2 {
    width: 54.61%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 616px;
    margin: auto;
}

.midsec2 img {
    background-size: contain;
    display: block;
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 140px) and (max-width: 976px) {
    .midline .k .do{
        font-size: 26px;
    }
    .midsec1 h2 {
        font-size: 24px;
    }
    .midline{
        height: auto;
    }
    .midsec {
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: auto;
    }

    .midsec1 {
        width: 99%;
        margin: auto;
        gap: 10px;
        justify-content: center;
        align-items: center;

    }

    .midsec2 {
        width: 99%;
        margin: auto;
    }
    .midsec1 .buton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .midsec2 img {
        background-size: contain;
        display: block;
        height: auto;
        max-width: 100%;
    }

}




@media only screen and (min-width: 140px) and (max-width: 996px) {
    .header {
        position: relative;
        height: 100vh;
    }

    .arg-nav {
        font-size: 10px;
    }

    .toger-nav {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 17px;
        right: 39px;
        width: 23px;
        height: 23px;
        font-size: 30px;
    }

    #x-close {
        display: none;
    }

    .logo-host img {
        font-size: 10px;
        width: 90px;
    }

    .toger-nav img {
        width: 23px;
        height: 23px;

    }

    .dropdow {
        width: 199px;
        left: 3px;
        right: 100px;
    }

    .alo {

        display: none;
    }

    nav {
        display: block;
        position: relative;
        background-color: aqua;
    }

    .options-nav {
        margin: auto;
        margin-top: 50px;
        width: 89%;
        height: 599px;

        display: none;
    }

    .a {
        margin: 30px;
    }

    .options-nav.active {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .navk {
        height: 100vh;
    }

}

@media (min-width: 996px) {
    #open-x {
        display: none;
    }

    #x-close {
        display: none;

    }
}